<%- include('../partials/header'); -%>

    <!-- search bar included in navbar partial -->
    <%- include('../partials/navbar'); -%>

    <!-- Display results -->
    <div class="container-lg" style="margin-top: 2%;">
        <% if (error) { %>
          <div class="alert alert-danger"><%- message %></div>
        <% } %>
        <div class="">
            <%
                if(meal) {
                var meal_name = '-';
                var meal_inst = '-';
                var meal_tags = '-';
                var lwebsite = '-';
                var lvideo = '-';
                var review = ''
                if (meal.strMeal) {
                    meal_name = meal.strMeal;
                    review += '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewModal" data-meal="'+meal.strMeal+'">Leave a Review</button>';
                }
                if (meal.strInstructions) {
                    meal_inst = meal.strInstructions;}
                if (meal.strTags) {
                    meal_tags = meal.strTags;}
                if (meal.idMeal) {
                    lwebsite = 'https://www.themealdb.com/meal.php?c='+meal.idMeal+'';}
                if (meal.strYoutube) {
                    lvideo = meal.strYoutube;}
            %>
                <%- meal_name %>
                <%- meal_inst %>
                <%- meal_tags %>
                <%- lwebsite %>
                <%- lvideo %>
                <%- review %>
            <% } %>  
        </div>
    </div> 

    <!-- review entry modal -->
    <div class="modal-dialog modal-lg modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="reviewLabel">Add Review</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">X</button>
              </div>
              <div class="modal-body">
                <form action="/add_review" method="post" id="review_form">
                  <div class="mb-3">
                    <label for="mealName" class="col-form-label">Meal Name:</label>
                    <input readonly type="text" class="form-control" id="mealName" name="meal_name" placeholder="<%- meal_name %>" value="<%- meal_name %>">
                  </div>
                  <div class="mb-3">
                    <label for="reviewText" class="col-form-label">Enter your review:</label>
                    <textarea class="form-control" name="review_text" id="reviewText"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <input type="submit" form="review_form" value="submit" class="btn btn-primary btn-block">
              </div>
            </div>
        </div>
    </div>

<%- include('../partials/footer'); -%>
